#fair-heading{
    font-size: 25px;
    font-family: Avenir;
    display: flex;
}
ul.fair-tabs{
    list-style-type: none;
}
ul.fair-tabs li {
    float: left;
    font-size: 16px;
    font-family: Avenir;
}

ul.fair-tabs li a{
    display: flex;
    color: black;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    text-decoration: none;
    font-family: Avenir;
}
ul.fair-tabs li a:hover{
    border-bottom: 3px solid blue;
    color: blue;
}
.container{
    display: flex;
    flex-flow: wrap;
    padding: 0% 20% 0% 20%;
    margin-top: 30px;
}
.icon-style{
    color: #C4183C;
    padding: 13px 0px 0px 0px;
}
.email-style{
    font-size: 14px;
    margin-left: 13px;
}
.sponsor-style{
    border-bottom: 3px solid blue;
    color: blue !important;
}
#box{
    background: #ffffff;
    box-shadow:0px 6px 10px #6596FF26;
    border-radius: 12px;
    width: 100%;
    flex-flow: column;
    height: 500px;
    display: flex;
}
#sponsor-heading{
    text-align: left;
    font: normal normal 900 25px Avenir;
    letter-spacing: 0px;
    color: #1B1B1B;
}
#sponsor-button{
    width: 170px;
    color: white;
    border: 2px solid #79D733;
    text-align: center;
    height: 50px;
    font-size: 16px;
    font: normal normal 900 16px/48px Avenir;
    letter-spacing: 0.8px;
    background: #79D733;
    text-decoration: none;
    border-radius: 10px;
}
table.sponsor-list-table {
    width: 100%;
    margin-left: 0px;
    text-align: center;
    font-family: Avenir;
}
table.sponsor-list-table th{
    background: rgb(238, 235, 235);
    padding: 15px;
    opacity: 0.9;
}
table.sponsor-list-table td {
    font-family: Avenir;
}
table.sponsor-list-table, 
table.sponsor-list-table th, 
table.sponsor-list-table td{
    border-top: 1px solid rgb(195, 190, 190);
    border-collapse: collapse;
}
.status-active{
    background: #79D733;
    border-radius: 10px;
    text-align: center;
    padding: 5px 20px 5px 20px;
}
.status-deactive{
    background: #BECAD6;
    border-radius: 10px;
    text-align: center;
    padding: 5px 20px 5px 20px;
}
.options{
    border: 1px solid #9e9898;
    border-radius: 8px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

.column {
    display: flex;
    width: 100%;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

.column1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.back-btn{
    width: 121px;
    height: 42px;
    background: #E9ECEF;
    border-radius: 10px;
    text-align: center;
    font: normal normal 900 16px/22px Avenir;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    letter-spacing: 0.8px;
    color: #000000;
}
#logout{
    position: absolute;
    top: 55px;
    right: 0px;
    width: 234px;
    text-align: left;
    display: none;
    height: 71px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px #6596FF26;
    border: 0.5px solid #AFAFAF;
    border-radius: 4px;
}
#sign-out{
    text-align: left;
    font-family: Avenir;
    font-size: 14px;
    letter-spacing: 0px;
    color: #C4183C;
    padding: 15px 0px 0px 0px;
    text-transform: capitalize;
}
