* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #FBFBFB;
}
nav{
    height: 68px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px #6596FF26;
    padding: 12px 55px 12px 0px;
}
.circlebutton{
    border-radius: 50%;
    height: 44px;
    width: 44px;
    background: #79D733;
    font-size: 20px;
    box-shadow: 0px 0px 3px 2px #6596FF26;
    border: 3px solid #ffffff;
}

.circleoutline{
    border-radius: 50%;
    height: 46px;
    margin-left: 99%;
    width: 46px;
    font-size: 20px;
    border: 1px solid #000000;
}
